

.image-center {
    display: block;
    margin: 0 auto;
}

.search-part-div {
    height: 90px;
    background-color: #EEEEEE;
   text-align: center;
    margin-right: 60px;
    margin-left: 60px;
}

.container {
    width: 90%;
    height: 400px;
    margin: 3px auto;
    display: block;
    
}

.card {
    text-align: center;
    float: left;

}

.card ul{
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

.card-left {
    width: 37%;
    margin-right: 3px;
}

.bg-left {
    background-color: #70CCC2;
}

.card-mid {
    width: 25%;
    margin-right: 3px;
}

.bg-mid {
    background-color: #70CCC2;
}

.card-right {
    width: 37%;
    margin-right: 3px;
}

.bg-right {
    background-color: #62B3AA;
}

p {
    text-align: center;
}

.copyright-bottom{
    display: block;
    font-size: 13px;
    margin-top: 150px;
    text-align: center;
}